.page-head {
    background: #F8F3F4;
    margin-bottom: 0;
    min-width: 375px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 59px 0 60px;
    }
    &__header {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
}

@media (max-width: 767px) {
    .page-head {
        &__wrap {
            padding: 0;
            height: 158px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}